#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba > #backgroundBox {
  position: absolute;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Image {
  position: absolute;
  width: 467.0px;
  height: 262.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Image {
  box-shadow: none;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Table_1 {
  position: absolute;
  width: 359.99999999999994px;
  height: 379.96215409665456px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Table_1 {
  box-shadow: none;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Table_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Table_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_26 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_26 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_26 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/b16cc919-9dd2-41af-a508-8e4a028e638f-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_26 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_26 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_26 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_26 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_27 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_27 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_27 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/8d012c3e-99d6-49e6-87f6-340b543c4320-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_27 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_27 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_27 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_27 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_27 span#rtr-s-Text_cell_27_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_28 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_28 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_28 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/059837f3-4e2d-4603-9731-70733b8661e7-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_28 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_28 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_28 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_28 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_28 span#rtr-s-Text_cell_28_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_29 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_29 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_29 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/8912e734-f74a-4056-a6fb-9074d2fdb002-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_29 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_29 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_29 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_29 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_29 span#rtr-s-Text_cell_29_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_30 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_30 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_30 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/c1b68394-9332-4c5e-8651-b39523abad78-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_30 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_30 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_30 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_30 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_30 span#rtr-s-Text_cell_30_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_31 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_31 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_31 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/7258e866-ef2e-4ffb-8c84-2e27cce8fba9-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_31 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_31 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_31 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_31 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_31 span#rtr-s-Text_cell_31_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_32 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_32 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_32 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/9eb517ea-b9fc-4238-8c3a-2692c0f1394c-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_32 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_32 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_32 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_32 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_32 span#rtr-s-Text_cell_32_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_33 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_33 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_33 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/03c2c980-8104-40ce-9ba6-83812d06d326-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_33 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_33 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_33 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_33 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_33 span#rtr-s-Text_cell_33_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_34 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_34 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_34 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/090e211e-fd83-4d78-91ce-48c65b117187-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_34 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_34 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_34 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_34 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_34 span#rtr-s-Text_cell_34_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_35 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_35 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_35 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/1d97e888-21f1-40f0-af96-d3dfa2ab1a3f-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_35 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_35 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_35 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_35 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_35 span#rtr-s-Text_cell_35_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_36 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_36 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_36 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/397a3084-57d8-4e70-ba23-d982dd575826-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_36 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_36 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_36 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_36 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_36 span#rtr-s-Text_cell_36_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_37 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_37 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_37 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/d9e95baf-32e1-4182-ae40-8bffcffaf2e9-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_37 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_37 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_37 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_37 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_37 span#rtr-s-Text_cell_37_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_38 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_38 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_38 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../images/1f3313c5-0fd4-4886-8592-3eb595451014.jpg');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_38 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_38 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_38 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_38 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_38 span#rtr-s-Text_cell_38_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_39 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_39 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_39 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/45d70b6e-f777-4d69-8104-89ba3a0cf796-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_39 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_39 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_39 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_39 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_39 span#rtr-s-Text_cell_39_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_40 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_40 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_40 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/916cfb59-95b5-432f-8fcd-d8c94f70840d-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_40 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_40 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_40 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_40 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_40 span#rtr-s-Text_cell_40_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_41 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_41 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_41 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/59e533ff-155a-439a-832d-723621a944a0-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_41 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_41 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_41 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_41 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_41 span#rtr-s-Text_cell_41_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_42 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_42 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_42 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/7ebd8c93-61a8-4f68-8984-fe67f8557b7d-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_42 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_42 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_42 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_42 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_42 span#rtr-s-Text_cell_42_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_43 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_43 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_43 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/4d11b849-f957-479e-9972-916fb72e67c0-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_43 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_43 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_43 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_43 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_43 span#rtr-s-Text_cell_43_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_44 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_44 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_44 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/37b12530-0b01-4e4c-82bf-ec7581cbc49d-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_44 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_44 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_44 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_44 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_44 span#rtr-s-Text_cell_44_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_45 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_45 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_45 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/bf8b7575-7270-4576-879f-5e19fea02eff-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_45 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_45 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_45 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_45 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_45 span#rtr-s-Text_cell_45_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_46 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_46 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_46 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/2cae5581-c805-4d86-8a9c-d14a6217fbbb-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_46 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_46 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_46 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_46 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_46 span#rtr-s-Text_cell_46_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_47 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_47 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_47 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/2a53300a-2b14-4d92-be0b-9d455ad8e314-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_47 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_47 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_47 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_47 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_47 span#rtr-s-Text_cell_47_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_48 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_48 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_48 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/c32c78c2-fcb9-4038-92eb-8ce2e356cbc8-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_48 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_48 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_48 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_48 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_48 span#rtr-s-Text_cell_48_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_49 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_49 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_49 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/88df601c-b804-481b-af79-fc4c030db7b3-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_49 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_49 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_49 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_49 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_49 span#rtr-s-Text_cell_49_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_50 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_50 {
  width: 20.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_50 > .cellContainerChild > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.34;
  background-image: url('../../images/36800772-90c4-4fad-9355-f9c60d52cd2a-%237D7D7D.png');
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_50 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_50 .content {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_50 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_50 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Text_cell_50 span#rtr-s-Text_cell_50_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Paragraph_1 {
  position: absolute;
  width: 100.0%;
  min-height: 23.90625%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Paragraph_1 {
  box-shadow: none;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Paragraph_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.41);
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 24.8px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 24.8px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Paragraph_2 {
  position: absolute;
  width: 100.0%;
  min-height: 17.031250000000014%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Paragraph_2 {
  box-shadow: none;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Paragraph_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.49);
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Paragraph_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 700;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-04f04d14-bf77-48ed-80b0-7f84fcc58eba > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
