#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae > #backgroundBox {
  background-color: #182C4F;
  position: absolute;
}

#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}

#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Paragraph_1 {
  position: absolute;
  width: 106.38888888888872%;
  min-height: 23.906250000000004%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Paragraph_1 {
  box-shadow: none;
}

#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Paragraph_1 span {
  color: #919CAC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 24.8px;
}

#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 24.8px;
}

#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Segoe Script',Arial;
}

_:-ms-fullscreen, :root #s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Paragraph_3 {
  box-shadow: none;
}

#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Paragraph_3 span {
  color: #A5783A;
  text-align: left;
  text-decoration: none;
  font-family: 'Segoe Script',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #A5783A;
  text-decoration: none;
  font-family: 'Segoe Script',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Button {
  position: absolute;
  width: 102.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Button {
  box-shadow: none;
}

#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Button span {
  color: #22A4CA;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae #s-Button span#rtr-s-Button_0 {
  color: #22A4CA;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-3861e3b5-0ab0-4d49-8fc7-695476ba98ae > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
