#s-47374e16-af8d-4c32-9e36-961865c10b47 > #backgroundBox {
  background-color: #182C4F;
  position: absolute;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_1 {
  position: absolute;
  width: 106.38888888888872%;
  min-height: 23.906250000000004%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_1 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_1 span {
  color: #919CAC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 24.8px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 24.8px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Segoe Script',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_3 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_3 span {
  color: #A5783A;
  text-align: left;
  text-decoration: none;
  font-family: 'Segoe Script',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #A5783A;
  text-decoration: none;
  font-family: 'Segoe Script',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Dynamic_Panel {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Panel_1 {
  width: 355.99999999999994px;
  height: 409.9999999999999px;
  filter: none;
  border-left-width: 5px;
  border-bottom-width: 5px;
  border-right-width: 5px;
  border-top-width: 5px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Panel_1 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph {
  width: 100.0%;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph > .borderLayer {
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #919CAC;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph .valign {
  vertical-align: bottom;
  text-align: left;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph span {
  color: #919CAC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle {
  position: absolute;
  width: 351.0px;
  min-height: 58.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #2A374E;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #404040;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle .valign {
  vertical-align: top;
  text-align: left;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle span {
  color: #919CAC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_121 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_121 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_136 {
  position: absolute;
  width: 52.0px;
  height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_136 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_2 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_2 span {
  color: #919CAC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_102 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_102 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_103 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_103 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_105 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_105 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_106 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_106 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_11 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_11 {
  box-shadow: none;
}

 div.relativeLayoutWrapper.s-Group_2 {
  transform: translate(-1.0px, -26.999999999999943px);
  width: 245.18228912353516px;
  height: 24.000000000000227px;
}

 div.relativeLayoutWrapper.s-Group_3 {
  transform: translate(-0.0px, 8.526512829121202E-14px);
  width: 351.0px;
  height: 58.00000000000006px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_7 {
  width: 99.99999999999999%;
  min-height: 29.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_7 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_7 > .borderLayer {
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #919CAC;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_7 .valign {
  vertical-align: bottom;
  text-align: left;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_7 span {
  color: #919CAC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_4 {
  position: absolute;
  width: 351.0px;
  min-height: 58.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_4 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #2A374E;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #404040;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_4 span {
  color: #919CAC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_125 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_125 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_140 {
  position: absolute;
  width: 52.0px;
  height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_140 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_8 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_8 span {
  color: #919CAC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_118 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_118 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_119 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_119 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_120 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_120 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_126 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_126 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_15 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_15 {
  box-shadow: none;
}

 div.relativeLayoutWrapper.s-Group_10 {
  transform: translate(-41.0px, -67.00000000000011px);
  width: 234.06249237060547px;
  height: 24.0px;
}

 div.relativeLayoutWrapper.s-Group_11 {
  transform: translate(-40.0px, -39.99999999999986px);
  width: 351.0px;
  height: 58.00000000000006px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_5 {
  position: absolute;
  width: 351.0px;
  min-height: 58.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_5 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #2A374E;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #404040;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_5 span {
  color: #919CAC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_127 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_127 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_141 {
  position: absolute;
  width: 52.0px;
  height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_141 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_9 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_9 span {
  color: #919CAC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_128 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_128 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_129 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_129 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_130 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_130 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_131 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_131 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_16 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_16 {
  box-shadow: none;
}

 div.relativeLayoutWrapper.s-Group_12 {
  transform: translate(-51.0px, -77.0px);
  width: 245.18228912353516px;
  height: 24.0px;
}

 div.relativeLayoutWrapper.s-Group_13 {
  transform: translate(-50.0px, -49.999999999999744px);
  width: 351.0px;
  height: 58.00000000000006px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_1 {
  position: absolute;
  width: 351.0px;
  min-height: 58.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_1 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #2A374E;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #404040;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_1 span {
  color: #919CAC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_122 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_122 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_137 {
  position: absolute;
  width: 52.0px;
  height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_137 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_4 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_4 span {
  color: #919CAC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_104 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_104 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_107 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_107 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_108 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_108 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_109 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_109 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_12 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_12 {
  box-shadow: none;
}

 div.relativeLayoutWrapper.s-Group_4 {
  transform: translate(-11.0px, -36.999999999999545px);
  width: 252.59765625px;
  height: 24.0px;
}

 div.relativeLayoutWrapper.s-Group_5 {
  transform: translate(-10.0px, -9.999999999999858px);
  width: 351.0px;
  height: 58.00000000000006px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_2 {
  position: absolute;
  width: 351.0px;
  min-height: 58.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_2 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #2A374E;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #404040;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_2 span {
  color: #919CAC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_123 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_123 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_138 {
  position: absolute;
  width: 52.0px;
  height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_138 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_5 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_5 span {
  color: #919CAC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_110 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_110 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_111 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_111 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_112 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_112 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_113 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_113 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_13 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_13 {
  box-shadow: none;
}

 div.relativeLayoutWrapper.s-Group_6 {
  transform: translate(-21.0px, -46.99999999999966px);
  width: 245.18228912353516px;
  height: 24.0px;
}

 div.relativeLayoutWrapper.s-Group_7 {
  transform: translate(-20.0px, -19.99999999999997px);
  width: 351.0px;
  height: 58.00000000000006px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_3 {
  position: absolute;
  width: 351.0px;
  min-height: 58.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_3 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #2A374E;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #404040;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_3 span {
  color: #919CAC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_124 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_124 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_139 {
  position: absolute;
  width: 52.0px;
  height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_139 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_6 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_6 span {
  color: #919CAC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_114 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_114 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_115 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_115 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_116 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_116 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_117 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_117 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_14 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_14 {
  box-shadow: none;
}

 div.relativeLayoutWrapper.s-Group_8 {
  transform: translate(-31.000000000000455px, -56.99999999999977px);
  width: 252.59765624999977px;
  height: 24.000000000000227px;
}

 div.relativeLayoutWrapper.s-Group_9 {
  transform: translate(-30.000000000000227px, -29.999999999999517px);
  width: 351.0px;
  height: 58.00000000000006px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_6 {
  position: absolute;
  width: 351.0px;
  min-height: 58.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_6 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #2A374E;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #404040;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_6 span {
  color: #919CAC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_132 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_132 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_142 {
  position: absolute;
  width: 52.0px;
  height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_142 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_10 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_10 span {
  color: #919CAC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #919CAC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: 400;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_133 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_133 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_134 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_134 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_135 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_135 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_143 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_143 {
  box-shadow: none;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_17 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-47374e16-af8d-4c32-9e36-961865c10b47 #s-Image_17 {
  box-shadow: none;
}

 div.relativeLayoutWrapper.s-Group_14 {
  transform: translate(-61.0px, -86.99999999999943px);
  width: 245.18228912353516px;
  height: 24.000000000000227px;
}

 div.relativeLayoutWrapper.s-Group_15 {
  transform: translate(-60.0px, -59.99999999999997px);
  width: 351.0px;
  height: 58.00000000000006px;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-47374e16-af8d-4c32-9e36-961865c10b47 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
